/* ===============================================================
 * LAYOUT
** =============================================================== */

@use "_var.scss";

/* HEADER */

/* Main */
.section:last-child{
    margin-bottom: 72px;
}
.main, .header{
	max-width: 450px;
	margin: auto;
}
.header__img{
	padding-left: 18px;	
}
/* BTN */
.btn{
	width: 100%;
	position: relative;
}
.btn__el{
    margin-top: 18px;
    background-color: var(--color-primary);
	color: var(--color-on-primary);
	border: none;
    padding: 20px 20px 20px 20px;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: 1.3px;
}
.btn__el--haut{
	position: absolute;
	z-index: 10;
}
.btn__span{
	display: flex;
    align-items: center;
}
.btn__span--icone::after {
	content: url(../images/pioche.png);
	padding-left: 15px;
}
.btn__el--haut:hover, .btn__el--haut:focus{
	transform: translate(10px, 10px);
	background-color: var(--color-secondary);
	color: var(--color-on-secondary);
	transition-duration: .2s;
	transition-timing-function: ease-out;
		
	.btn__span--icone:after {
		content: url(../images/pioche_hover.png);
	}
}
.btn__el--bas{
	position: absolute;
	margin-top: 18px;
	background-color: var(--color-secondary);
	// width: 215px;
	// height: 37px;
	top: 10px;
	left: 10px;
} 

/* SVG */
.personnage{
	width: 100%;
}
.logo--dwt{
	width: 50%;
	cursor: pointer;
}
.svg--pc{
	display: none;
}
.halo{
	filter: blur(15px);
  }
.flame{
filter: blur(1px);
}

.svg__Morph{
	width: 100%;
}



/* Classe projet Section Swap */
.grid.section--displayNone{
	display: none;
}
.section--opacity{
	opacity: 0;
}
.section--displayNone.section--displayVisible{
	display: grid;
}

.bulle{
	display: block;
    // width: 70%;
    background: #EEEEEE;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 15px;
    position: relative;
}
.bulle::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: transparent #EEEEEE transparent transparent;
    position: absolute;
    bottom: 10px;
    left: -17px;
}
.section__div{
	background-image: url("../images/Background_perso.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}





.hidden{
	display: none;
  }
  .solCharbon, .sol{
	fill: #855439;
  }
  .sable{
	fill: #DA895D;
  } 
  .sable2{
	fill: #855439;
  } 
  .sol2{
	fill: #DA895D;
  }





@media screen and (min-width: 768px) {
	.main, .header{
		max-width: 768px;
		margin: auto;
	}
	.bulle{
		align-self: start;
		width: 70%;
	}
}

@media screen and (min-width: 1440px) {
	.svg--pc{
		display: inherit;
	}
	.svg--mb{
		display: none;
	}
	.main, .header{
		max-width: 1440px;
		margin: auto;
	}	
	.logo--dwt {
		width: 30%;
	}
	.bulle{
		align-self: start;
		width: 40%;
		padding-left: 15px;
	}
	.bulle__content{
		margin-top: 1.5em;;
	}
	.header__img {
		padding-left: 0px;
	}
}