/* ===============================================================
 * LAYOUT
** =============================================================== */

@use "_var.scss";

/* HEADER */
/*********** MENU BURGER ***********/
.header{
    max-width: 320px;
    margin: auto;
}
.container{
	width: 48px;
    height: 48px;
}
.burg{
    width: 47px;
    height: 10px;
    margin-bottom: 3px;
    background-color: var(--color-on-background);
    border-radius: 4px;
}
.navBtn:hover {
	.burg{
		background-color: var(--color-primary);
	}
}

.burg__h{
    animation: burgerH 0.8s ease;
}
@keyframes burgerH{
// 0%{
//   transform: translateY(11px) rotate(45deg);
// }
    0%{
        transform: translateY(11px) rotate(0deg);
    }100%{
        transform: translateY(0px) rotate(0deg);
    }
}
.burg__b{
    animation: burgerB 0.8s ease;
}
@keyframes burgerB{
// 0%{
//   transform: translateY(-11px) rotate(45deg);
// }
    0%{
        transform: translateY(-14px) rotate(0deg);
    }100%{
        transform: translateY(0px) rotate(0deg);
    }
}
.burg__h--clicked{
    transform: translateY(14px) rotate(45deg);
    animation: burger 0.8s ease;
    animation-direction: alternate;
}
@keyframes burger{
    0%{
        transform: translateY(14px) rotate(0deg);
    }100%{
        transform: translateY(14px) rotate(45deg);
    }
}
.burg__m--clicked{
    visibility: hidden;
}
.burg__b--clicked{
    transform: translateY(-12px) rotate(-45deg);
    animation: burger2 0.8s ease;
    animation-direction: alternate;
}
@keyframes burger2{
    0%{
        transform: translateY(-12px) rotate(0deg);
    }100%{
        transform: translateY(-12px) rotate(-45deg);
    }
}

.nav__lien {
    color: var(--color-on-background);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    display: inline-block;
    padding: 1em;
    margin: .5em;
    font-size: 1em;
    transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
	background-color: inherit;
	border: none;
}
.nav__lien:hover {
    color: var(--color-primary);
}
.nav__el--actif{
    border-bottom: 2px var(--color-primary) solid;
}



/* Main */
.section:last-child{
	margin-bottom: 72px;
}
.main, .header{
	max-width: 450px;
	margin: auto;
}
.header__img{
	padding-left: 18px;	
}
body[data-menu] .header__img{
   width: 200px;
}
/* BTN */
.btn{
	width: 100%;
	position: relative;
}
.btn__el{
	margin-top: 18px;
    background-color: var(--color-primary);
	color: var(--color-on-primary);
	border: none;
    padding: 20px 20px 20px 20px;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: 1.3px;
}
.btn__el--haut{
	position: absolute;
	z-index: 10;
}
.btn__span{
	display: flex;
    align-items: center;
	cursor: pointer;
}
.btn__span--icone::after {
	content: url(../images/pioche.png);
	padding-left: 15px;
}
.btn__el--haut:hover, .btn__el--haut:focus{
	transform: translate(10px, 10px);
	background-color: var(--color-secondary);
	color: var(--color-on-secondary);
	transition-duration: .2s;
	transition-timing-function: ease-out;
	
	.btn__span--icone:after {
		content: url(../images/pioche_hover.png);
	}
}
.btn__el--bas{
	position: absolute;
	margin-top: 18px;
	background-color: var(--color-secondary);
	// width: 215px;
	// height: 37px;
	top: 10px;
	left: 10px;
} 
.styleCharbon{
	max-width: 800px;
}
/* SVG */
.personnage, .styleCharbon__svg, .mine, .aerage{
	width: 100%;
	height: auto;
}

.logo--dwt{
	width: 50%;
	cursor: pointer;
}
.svg--pc{
	display: none;
}
.halo{
	filter: blur(15px);
  }
.flame{
filter: blur(1px);
}

.svg__Morph{
	width: 100%;
	height: auto;
}



/* Classe projet Section Swap */
.grid.section--displayNone{
	display: none;
}
.section--opacity{
	opacity: 0;
}
.section--displayNone.section--displayVisible{
	display: grid;
	margin-bottom: 3em;
}

.bulle{
	display: block;
    // width: 70%;
    background: #EEEEEE;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 15px;
    position: relative;
	font-family: 'Roboto Slab', serif;
}
.bulle::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: transparent #EEEEEE transparent transparent;
    position: absolute;
    bottom: 10px;
    left: -17px;
}
.bulle--blanc::after {
    border-color: transparent #fff transparent transparent;
}
.bulle--blanc {
    background: #fff;
}
.section__div{
	background-image: url("../images/Background_perso.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}





.hidden{
	display: none;
  }
  .solCharbon, .sol{
	fill: #855439;
  }
  .sable{
	fill: #DA895D;
  } 
  .sable2{
	fill: #855439;
  } 
  .sol2{
	fill: #DA895D;
  }

.styleCharbon__el > *{
	padding:5px 0px 5px 0px;
}
.styleCharbon__el {
	margin-top: 1em;
}


.btn--espace{
	margin-bottom: 125px;
}

.son, .son path, .son rect{
	justify-self: end;
	cursor: pointer;
}
.son:hover path, .son:hover rect{
	fill: var(--color-primary);
}
.tmp__fleche{
    transform: rotate(0.01turn) translateY(-30px) translateX(35px);
}

.closed{
	background: url(../images/roton.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto;
	min-height: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
/* Css pour le retina @2x ici */
.closed{
	background: url(../images/roton@2x.png);
}
}









@media screen and (min-width: 768px) {
	.btn--espace{
		margin-bottom: 0px;
	}
	.main, .header{
		max-width: 768px;
		margin: auto;
	}
	.bulle{
		align-self: start;
		width: 70%;
	}
	.styleCharbon__svg{
		width: 40%;
	}
	.header__img {
		padding-left: 30px;
	}
	.section--displayNone.section--displayVisible{
		margin-bottom: 2em;
	}
	.styleCharbon__el{
		min-height: 415px;
	}
	.pg__creaCharbon{
        width: 70%;
		min-height: 63px;
        
    }
}

@media screen and (min-width: 1440px) {
	// .body{
	// 	height: 100vh;
	// }
	.svg--pc{
		display: inherit;
	}
	.svg--mb{
		display: none;
	}
	.main, .header{
		max-width: 1400px;
		margin: auto;
		padding: 0px 10px;
	}	
	.logo--dwt {
		width: 30%;
	}
	.bulle{
		align-self: start;
		width: 40%;
		padding-left: 15px;
	}
	.bulle__content{
		margin-top: 1.5em;;
	}
	.header__img {
		padding-left: 0px;
	}
	.section--displayNone.section--displayVisible{
		margin-bottom: 1em;
	}
	.personnage{
		max-height: 720px;
	}
	// .mine{
	// 	max-height: 750px;
	// }
	.styleCharbon__el{
		min-height: 486px;
	}
	.son{
		align-self: center;
	}
}


@media (min-width: 1440px) and (min-height: 700px) { 
	.personnage{
		max-height: 550px;
	}
	.header__img{
		width: 200px;
	}
	.svg__Morph{
		max-height: 400px;
		width: auto;
	}
	.mine, .aerage, .geologie--svg, .horloge--svg{
		max-height: 550px;
		width: auto;
	}
	.horloge--svg{
		justify-self: center;
	}
}

@media (min-width: 1440px) and (min-height: 900px) { 
	.personnage{
		max-height: 720px;
	}
	.svg__Morph{
		max-height: 100%;
	}
	.mine, .aerage{
		max-height: 100%;
		width: 100%;
	}
}