/*!
***
* TFE Mineur Project
***
* Projet scolaire pour mon TFE de B2G2
* option DWT
*
* @version: 1.0
* @author: François Szczepkowski <francois.szcz@hotmail.fr>
*
***
*/

@use "_normalize.scss";
@use "_type.scss";
@use "_layout.scss";
@use "_grid.scss";
@use "_list.scss";
@use "_var.scss" as v;

.lien{
    text-decoration: none; 
    color: var(--color-primary);
}
.lien:visited{
    color: var(--color-primary-visited);
}
.lien:hover, .lien:focus{
    color: var(--color-secondary);
}
.lien--dwt{
    font-size: 14px;
    padding-top: 15px;
}

/*********** SCROL BAR + SELECTION TEXT ***********/
*::selection {
    background: var(--color-primary);
    color: var(--color-on-primary);
}

::-webkit-scrollbar {
    width: 5px;
}  
// ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px #1E1E29; 
//     border-radius: 10px;
// }  
::-webkit-scrollbar-thumb {
    background: var(--color-primary); 
    border-radius: 10px;
}


/**
* = TODO
*
* 
*
* ========================================================== */




